[submodule "src/thirdparty/imgui"]
	path = src/thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/thirdparty/yoga"]
	path = src/thirdparty/yoga
	url = https://github.com/facebook/yoga.git
